$dark_link_color: #222;
$dark_link_hover: #666;
$mono_fonts: Consolas, Monaco, Lucida Console, monospace;
$serif_fonts: Georgia, Cambria, Times New Roman, Times, serif;

html {
  font-size: 75%;
}

body {
  background-color: #f4f4f4;
  font-family: $mono_fonts;
}

a {
  text-decoration: none;
}

dl {
  dd {
    margin-left: 0;
    margin-bottom: 1rem;
    padding-left: 2em;
    border-left: 0.25em solid #ddd;
    color: $dark_link_hover;
  }
}

.navigation {
  border-bottom: 1px solid #000;
  margin-bottom: 2rem;
  padding: 0.5rem 0;

  ul {
    margin-bottom: 0;
    text-transform: lowercase;

    li {
      margin-bottom: 0;
      list-style: none;
      display: inline;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  text-transform: lowercase;
}

.title {
  margin-bottom: 1rem;
}

.post {
  .preview {
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 1rem;
    margin-bottom: 4rem;
  }

  .title {
    a {
      color: $dark_link_color;
      text-decoration: none;
    }

    a:hover {
      color: $dark_link_hover;
      cursor: pointer;
    }
  }

  .author {
    color: #999;
  }
}

.oss.sites {
  div {
    float: left;
    margin-right: 4rem;
    margin-bottom: 2rem;

    div {
      float: none;
    }
  }
}
