<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/css/skeleton.css" />
    <link rel="stylesheet" href="/assets/css/draiocht.css" />

    <title>
      Kolo Rahl's Blog
      {{#title}}
      : {{title}}
      {{/title}}
    </title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="twelve columns navigation">
          <ul>
            <li><a href="/">Home</a></li>
            {{#pages}}
            <li><a href="{{link}}">{{title}}</a></li>
            {{/pages}}
          </ul>
        </div>
      </div>
