{{> header}}

<div class="row">
  <div class="two columns"></div>
  <div id="content" class="ten columns">
  </div>
  <div class="two columns"></div>
</div>

<script src="/assets/js/index.js"></script>
<script>
  Elm.Page.View.embed(document.getElementById("content"));
</script>

{{> footer}}
